.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.shoes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;

}
.cart-container{
    background-color: rgb(189, 180, 159);
  
}
.cart-container h1{
    text-align: center;
    text-transform: uppercase;
}
.cart-item{
    text-align: center;
   
}
.cart-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rendom-btn{
   
   padding: 10px;
   border-radius: 10px;
   font-size: 17px;
   width:150px
 
}